.menu-lateral, main {
    display: inline-block;
  }
  
  .menu-lateral {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008767;
    overflow-x: hidden;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
  
  }
  nav img {
    margin: 0 0 10px 46px;
    width: 9rem;
    height: 5rem;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ul li {
    padding: 1rem 0 1rem 0.5rem;
    transition: 0.2s;
  }
  
  ul li:hover {
    background-color: #007255;
  }
  
  li.formulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  ul li a {
    display: block;
    text-decoration: none;
    color: white;
  }
  
  #pesquisa input {
    font-size: 1rem;
    background: none;
    color: white;
    border: none;   
  }
  
  #pesquisa input::placeholder {
    color: white;
  }
  
  #pesquisa button {
    background: none;
    border: none;
    padding: 0.2rem 0.5rem;
  }
  
  #pesquisa button:hover {
    cursor: pointer;
  }
  
div.geral{
    background-color: #f6f1f8;
    width: 70vw;
    height: 90%;
    margin: 0 0 0 17rem;
    color: #008767;
    border-radius: 3px;
   
}

div.geral h1{
    color: #6C7573;
    text-align: left;
    font-size: 2rem;
    padding-top: 2rem;
    font-family: serif;
    margin-left: 1.5rem;
}

.geral input{
    background: none;
    border: none;
    border-bottom: 1px solid #007255; 
    width: 80%;
    margin: 0 1rem 0 1rem;
    margin-bottom: 3rem;
}

.geral img{
    height: 2rem;
    width: 2rem;
}

.geral button{
  border: none;
}

.arquivo img{
    height: 1rem;
    width: 1rem;
   
}

.arquivo button{
  border: none;
}

div#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 21rem;
    margin: 2rem;
}

 button a{
    text-decoration: none;
    color: #3ab598;
}

div#comentario{
    background-color: #f6f1f8;
    width: 55rem;
    height: 40rem;
    color: #008767;
    border-radius: 20px;
}

table{
    margin: 10px 2px 2px 12px;
}

tr{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #007255;
    margin-top: 2rem;
}


td{
    font-size: 15px;
    color: grey;
}

td.comentario{
  width: 85%;
}

p{
  text-align: center;
  margin-top: 20px;
  background: #f6f1f8;
}